.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    min-height: 100svh;
    flex-direction: column;
    background: url("night-sky.jpg");
    background-size: cover;
    background-position: center;
}

.icon-overlay {
    position:absolute;
    top: 7px;
    left: 70px;
    width: 25px;
    height: 18px;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.shortcut-box {
    width: 700px;
    margin: 50px;
    display: flex;
    justify-content: space-evenly;
}

.shortcut-box-container:hover .icon-overlay {
    display: flex;
}

.display-box {
    border-radius: 25px;
    height: 454px;
    width: 642px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.060);
    backdrop-filter: blur(80px);
    flex-direction: column;
}

.display-box-date {
    color: white;
    margin: 0px;
    font-size: 50px;
}

.greeting-message {
    color: white;
    margin: 0px;
    font-size: 50px;
}

.image-shortcut {
    width: 48px;
    height: 48px;
}

.display-box-hour {
    color: white;
    margin: 0px;
    font-size: 200px;
}

.shortcut-box-container {
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.060);
    backdrop-filter: blur(80px);
    height: 108px;
    width: 103px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1000px) {
    .display-box {
        width: 900px;
        height: 708px;
    }
    .display-box-date {
        font-size: 75px;
    }
    .display-box-hour {
        font-size: 300px;
    }
    .greeting-message {
        font-size: 75px;
    }
    .shortcut-box-container {
        height: 150px;
        width: 150px;
    }
    .image-shortcut {
        width: 70px;
        height: 70px;
    }
    .shortcut-box {
        gap: 10px;
        width: 900px;
    }
}

