.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    min-height: 100svh;
    flex-direction: column;
    background: url("default-background.webp");
    background-size: cover;
    background-position: center;
}

.icon-overlay {
    position:absolute;
    top: 7px;
    left: 60px;
    width: 25px;
    height: 18px;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.shortcut-box {
    width: 700px;
    margin: 50px;
    display: flex;
    justify-content: space-evenly;
}

.shortcut-box-container:hover .icon-overlay {
    display: flex;
}

.display-box {
    border-radius: 25px;
    height: 354px;
    width: 542px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.060);
    backdrop-filter: blur(80px);
    flex-direction: column;
}

.display-box-date {
    color: white;
    margin: 0px;
    font-size: 30px;
}

.greeting-message {
    color: white;
    margin: 0px;
    font-size: 30px;
}

.image-shortcut {
    width: 48px;
    height: 48px;
}

.image-addShortcut {
    display: none;
}

.display-box-hour {
    color: white;
    margin: 0px;
    font-size: 180px;
}

.shortcut-box-container {
    transform-style: preserve-3d;
    transition: transform 0.5s ease, scale 0.5s ease;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.060);
    backdrop-filter: blur(80px);
    height: 98px;
    width: 93px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.shortcut-box-container:hover {
    transform: scale(1.2);
}

.plus-icon {
    display: flex;
    width: 52px;
    height: 52px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

@media screen and (max-width: 768px) {
    .display-box {
        width: 350px;
        height: 210px;
        justify-content: space-evenly;
    }
    .display-box-date {
        font-size: 28px;
    }
    .display-box-hour {
        font-size: 80px;
    }
    .greeting-message {
        font-size: 28px;
    }
    .shortcut-box-container {
        height: 70px;
        width: 80px;
    }
    .image-shortcut {
        width: 30px;
        height: 30px;
    }
    .shortcut-box {
        gap: 10px;
        width: 350px;
    }
}

